<!DOCTYPE html>
    <head>
        
        <title> Jude Blog</title>
    </head>
    <body>
       <div>
           <h1>JUDE BLOG</h1>
       </div>
       <div>
           <p> Publish: 19:13, 12-3-2020</p>
           <h2><a href="">First Post</a></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet ornare lectus, eu dignissim metus luctus sed. Proin rhoncus nunc nunc, ut accumsan ante sagittis vel. Fusce facilisis ligula nec libero euismod sagittis. Morbi egestas interdum orci sit amet mattis. Pellentesque eu justo odio. Morbi varius, lectus eu semper condimentum, lorem nisl venenatis mi, vel dignissim nunc ante ullamcorper ligula. Praesent iaculis, dui sed ultricies facilisis, turpis velit rutrum purus, mollis vulputate arcu nisl malesuada mi. 
               Aliquam augue augue, euismod nec libero quis, ultricies mollis felis.</p>
       </div>
       <div>
            <p> Publish: 19:54, 12-31-2020</p>
            <h2><a href="">Scond Post</a></h2>
            <p>Vestibulum pharetra nibh libero, vitae sagittis nisl vestibulum nec. Morbi interdum est a augue auctor cursus. Praesent a velit a mauris sollicitudin sodales. Proin elementum, quam a consequat ornare, nunc elit tempor ante, a laoreet odio purus sed ligula. In non luctus tortor. Ut eleifend eleifend arcu, ultrices lacinia odio dapibus sed. Mauris bibendum magna enim, sit amet volutpat ipsum tincidunt ac. Proin consequat ac lorem sit amet accumsan. Nulla dictum justo vitae arcu pretium, sed dapibus felis sollicitudin. Donec a pharetra tortor.  at libero ac justo ornare imperdiet. Nunc dapibus molestie elementum.</p>
        </div>
    </body>
</html>